<ion-header>
  <ion-toolbar>
    <ion-title>
      Minecraft Server UI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg>
        <ion-item>
          <ion-label>
            <ion-icon name="cloud-outline" item-left></ion-icon>
          </ion-label>
          <ion-input #serverAddressText="ngModel" type="text" [(ngModel)]="serverAddress" placeholder="server address">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md>
        <ion-button save-server-button color="primary" (click)="onSave(serverAddressText.value)">
          <ion-ripple-effect></ion-ripple-effect>
          Save
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md>
        <ion-button backup-button color="primary" (click)="onBackup()">
          <ion-ripple-effect></ion-ripple-effect>
          Backup Server
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md>
        <ion-button restore-button color="danger" (click)="onRestore()">
          <ion-ripple-effect></ion-ripple-effect>
          Restore From Last Backup
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>