<ion-header>
  <ion-toolbar>
    <ion-title>
      Minecraft Server UI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md>
        <ion-button color="primary">
          <ion-ripple-effect></ion-ripple-effect>
          Backup Server
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md>
        <ion-button color="danger">
          <ion-ripple-effect></ion-ripple-effect>
          Restore From Last Backup
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>